.header {
  position: fixed;
  z-index: 1000;
  top: 0;
  left: 0;

  transform: translateY(0);

  transition:
    transform 0.3s ease,
    color var(--default-delay),
    background-color var(--default-delay),
    box-shadow var(--default-delay);

  box-shadow: 0 2px 4px var(--header-shadow);
  width: 100%;
  padding: 0 2rem;

  background-color: var(--color-bg);
}

.hidden {
  transform: translateY(-100%);
}
