.modal {
  position: fixed;
  z-index: 999;
  top: 0;
  left: 0;
  justify-content: center;
  align-items: center;

  display: flex;
  opacity: 0;

  transition: opacity 0.3s cubic-bezier(0.4, 0, 0.2, 1);

  width: 100%;
  height: 100%;

  background-color: rgb(0 0 0 / 50%);
  pointer-events: none;
  backdrop-filter: blur(8px);
  backdrop-filter: blur(8px);

  &.active {
    opacity: 1;

    pointer-events: all;
  }
}

.modal__content {
  position: relative;

  opacity: 0;
  transform: scale(0.9) translateY(20px);

  transition:
    color var(--default-delay),
    background-color var(--default-delay),
    border var(--default-delay),
    transform 0.3s cubic-bezier(0.34, 1.56, 0.64, 1),
    opacity 0.3s ease;

  margin: 1rem;
  box-shadow:
    0 20px 25px -5px rgb(0 0 0 / 10%),
    0 10px 10px -5px rgb(0 0 0 / 4%);
  border: 1px solid var(--color-border);
  border-radius: 24px;
  max-width: 90vw;
  max-height: 90vh;
  padding: 2rem;

  background-color: var(--color-bg);

  color: var(--color-fg);
  overflow-y: auto;

  &::-webkit-scrollbar {
    width: 8px;
  }

  &::-webkit-scrollbar-track {
    background: transparent;
  }

  &::-webkit-scrollbar-thumb {
    border-radius: 4px;

    background-color: var(--color-border);

    &:hover,
    &:focus {
      background-color: var(--accent-color);
    }
  }

  &.active {
    opacity: 1;
    transform: scale(1) translateY(0);
  }
}
