.navbar {
  justify-content: space-between;
  align-items: center;

  display: flex;

  transition: border var(--default-delay);

  border-bottom: 1px solid var(--color-border);
  padding: 8px;
}

.navbar__logo {
  transition: transform 0.2s ease, color 0.2s ease;

  cursor: pointer;
  user-select: none;

  font-size: 2.1rem;
  font-weight: 900;
  text-decoration: none;
  color: inherit;

  &:hover,
  &:focus {
    transform: scale(1.05);

    color: var(--accent-color);
  }

  @media only screen and (max-width: 768px) {
    font-size: 1.8rem;
  }

  @media only screen and (max-width: 250px) {
    font-size: 0;
  }
}

.navbar__menu {
  z-index: 999;
  justify-content: space-between;
  align-items: center;

  display: flex;

  overflow: hidden;

  margin: 0;
  padding: 0;
  list-style-type: none;

  @media only screen and (max-width: 768px) {
    position: fixed;
    top: 3rem;
    left: -100%;
    flex-direction: column;

    transition:
      left 0.3s,
      color var(--default-delay),
      background-color var(--default-delay),
      box-shadow var(--default-delay),
      border var(--default-delay);

    box-shadow: 0 2px 4px var(--header-shadow);
    border-bottom: 1px solid var(--color-border);
    width: 100%;
    padding-bottom: 20px;

    background-color: var(--color-bg);

    text-align: center;
    color: var(--color-fg);

    &.active {
      left: 0;
    }
  }
}

.navbar__item {
  list-style: none;

  float: right;

  @media only screen and (max-width: 768px) {
    margin: 0.5rem 0;
  }
}

.navbar__link {
  display: block;

  outline-offset: -3px;
  padding: 10px 25px;

  font-size: 1.2rem;
  font-weight: 700;
  text-align: center;
  text-decoration: none;
  color: inherit;

  &:hover,
  &:focus,
  &.active {
    color: var(--accent-color);
  }
}
