.form {
  position: relative;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  display: flex;
}

.form * {
  --max-w: 35rem;

  transition:
    color var(--default-delay),
    background-color var(--default-delay),
    border var(--default-delay);
}

.form__select {
  justify-content: space-between;
  align-items: center;

  display: flex;

  margin-top: 1rem;
  width: 100%;
  max-width: var(--max-w);
}

.form__checkbox {
  justify-content: space-between;
  align-items: center;

  display: flex;

  margin-top: 1rem;
  width: 100%;
  max-width: var(--max-w);
}

.form__label {
  position: relative;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  display: flex;

  margin-top: 1rem;
  border: 2px solid var(--color-border);
  border-radius: 12px;
  min-width: 5rem;
  width: 100%;
  max-width: var(--max-w);
  min-height: 10rem;
  height: 32vh;
  max-height: 30rem;

  background-color: var(--color-canvas);
  cursor: pointer;

  color: var(--color-fg);

  &:hover,
  &:focus {
    transition: border 0s;

    border-color: var(--accent-color);
  }
}

.drop__title {
  margin-bottom: 20px;

  cursor: pointer;

  font-size: 20px;
  font-weight: bold;
}

.form_button {
  margin-top: 2rem;
  max-width: var(--max-w);
}

.form__input {
  transition: color var(--default-delay), background-color var(--default-delay);

  margin-top: 12px;
  width: 100%;
  max-width: 18rem;

  cursor: pointer;

  font-size: 16px;
}

.form__input::file-selector-button {
  transition:
    color var(--default-delay),
    background-color var(--default-delay),
    border var(--default-delay);

  margin-right: 1rem;
  border-width: 0;

  border-radius: 10px;
  padding: 10px 20px;

  background-color: var(--color-fg);

  color: var(--color-bg);
}

.dragging {
  transition: background-color 0s;

  background-color: var(--color-hover-canvas);
}
