.footer {
  transition: border var(--default-delay);

  margin-top: auto;
  border-top: 1px solid var(--color-border);
  padding: 20px;

  font-size: 1rem;

  & a {
    font-weight: 600;
    color: inherit;
  }

  & a:hover,
  & a:focus,
  & a:active {
    color: var(--accent-color);
  }
}
