.backhome_button {
  position: relative;

  display: inline-block;

  transition:
    color var(--default-delay) ease-in-out,
    background-color var(--default-delay) ease-in-out,
    border var(--default-delay) ease-in-out,
    box-shadow 0.2s ease-in-out !important;

  outline: none;
  margin: 0 auto;
  box-shadow: 0 2px 8px rgba(0 0 0 / 15%);
  border: 2px solid var(--color-fg) !important;
  padding: 10px 25px;

  background-color: var(--color-fg) !important;
  cursor: pointer;

  font-size: 2rem;
  font-style: normal !important;
  text-decoration: none;
  color: var(--color-bg) !important;

  &:hover,
  &:focus {
    transform: translateY(-2px);

    box-shadow: 0 4px 12px var(--accent-shadow-color);
    border: 2px solid var(--accent-color) !important;

    background-color: var(--accent-color) !important;

    color: var(--color-canvas) !important;
  }

  &:active {
    transform: translateY(0);
  }

  @media only screen and (max-width: 768px) {
    font-size: 1.3rem;
  }
}
